:root {
  --color-primary: #000000;
  --icon: #252122;
  --color-secondary: #a41c21;
  --color-muted: #3a3a3a;
  --color-border: #a41c215e;
  --color-background: #eeeeee;
  --border-color: #d9d9d9;
  --text-primary: #6d6b54;
  --text-link: #744c27;
  --font-heading: 'Roboto Slab', sans-serif;
  --font-secondary: 'Avenir LT Roman', sans-serif;
  --avenir-95: 'Avenir 95, sans-serif';
  --fm-header-outer-height: 100px;
  --fm-header-inner-height: 70px;
  --fm-header-height-difference: calc(
    var(--fm-header-outer-height) - var(--fm-header-inner-height)
  );
    
}
/* FONTS */
@font-face {
font-family: 'Roboto Slab';
src: url('assets/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
font-weight: 100 900;
font-style: normal;
}

@font-face {
font-family: 'Avenir LT Roman';
src: url('assets/fonts/AvenirLTPro-Roman.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}
@font-face {
  font-family: 'Avenir 95';
  src: url('assets/fonts/Avenir\ LT\ Std\ 95\ Black.otf');
  font-weight: 400;
  font-style: normal;
}
.roboto-variable {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wght" 400, "wdth" 100;
}
h1 {
  font-family: var(--font-heading);
  line-height: 1.2em;

}
h2 {
  font-family: var(--font-heading);
  font-size: 31px !important;
  font-weight: 700!important;
  color: var(--color-primary);
  line-height: 1.2em;
}

h3 {
  font-family: var(--font-secondary);
  font-size: 18px;
  font-weight: bold;
}

p {
  font-family: var(--font-secondary) !important;
  font-size: 18px;
}

a {
  color: var(--color-primary);
}
footer a {
  font-family: var(--font-secondary);
  font-size: 16px;
  font-variation-settings: 'wght' 900;
  font-weight: 900 !important;
}
/* SPLIDER */
.main-slider .splide__track{
  height: 528px;
}
.thumbnail-slider .splide__track{
  height: 100px;
  justify-content: center;
}


.thumbnail-slider .splide__slide {
opacity: 0.5;
/* transform: scale(0.75); */
transition: all 0.3s ease;

}

.thumbnail-slider .splide__slide.is-active {
opacity: 1;
/* transform: scale(1.2); */
}
.thumbnail-slider .splide__track {
  display: flex;
  justify-content: center; /* Center list inside track */
}

.thumbnail-slider .splide__list {
  display: flex;
  justify-content: center; /* Center items */
  align-items: center;
  margin: 0 auto;
}



/* END SPILDER */
.fm-hover:hover{
  fill: var(--color-secondary);
  color: var(--color-secondary);
}
.fm-hover a:hover svg,
.fm-hover a:hover .fm-icon-text {
  color: var(--color-secondary);
}

/* BORDER */
.fm-border-l{
  border-left: 1px solid var(--color-border);
}
hr.solid{
border-top: 1px solid var(--border-color);
width: 96%;
margin: 0 auto;
}
hr.solid-thick{
border-top: 6px solid var(--color-secondary);
}
hr.solid-thin{
border-top: 2px solid var(--color-secondary);
}
.fm-border{
border-color: var(--color-border);
width: 20vw;
}
.fm-map-wrapper{
position: sticky;
top: 90px;
max-height: 100vh;
transition: top 0.3s ease;
}
/* BUTTON */
button.my-auto:hover{
color: var(--color-secondary);
}

/* END BUTTON */
/* SPLIDER POST CAROUSEL */
/* ¸ */
/* HEADER */
.fm-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 90;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.fm-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  transition: padding 0.3s ease;
}

.fm-logo img {
  height: 100px;
  transition: height 0.3s ease;
}

.fm-header.shrink .fm-logo {
  padding: 10px 0;
}

.fm-header.shrink .fm-logo img {
  height: 65px;
}
.solid-bottom{
  border-bottom: 1px solid var(--color-border);
  width: 90rem;
  margin: 0 auto;
}
.fm-header.shrink .solid-bottom {
  width: 100vw;
}
/* END HEADER */

/* TABLET */
@media (max-width: 1024px) {

}
/* MOBILE */
@media (max-width: 768px) {
body{
  overflow-x: hidden;
}
  /* FONTS */
  h1{
    font-size: 36px !important;
  }
  .mobile-tab{
    font-family: var(--font-secondary);
    font-size: 12px;
  }
  .fm-mobile-slider h3{
    font-family: var(--avenir-95);
    font-size: 20px;
    font-weight: bold;
  }
  .fm-mobile-slider p {
    font-size: 14px;
  }
  .fm-mobile-slider address {
    font-size: 13px;
  }
  .fm-mobile-slider button{
    font-size: 13px;
    font-family: var(--font-secondary);
    color: var(--color-secondary);
  }
  /* Header */
  .fm-logo img{
    max-height: 43px;
  }
  .fm-logo{
    padding: 1rem;
  }
  .fm-header.shrink .fm-logo {
    padding: 6px 0;
  }
  .main-slider .main-slider {
    min-height: 200px;
  }
  .main-slider .splide__track {
    height: 388px !important; /* force override */
  }

}

.main-slider .splide__slide img {
  width: 100%;
  object-fit: contain;
}
article {
  scroll-margin-top: 90px;
}

/* mobile slider */
/* .fm-slide-box {
  width: 368px!important;
  height: 175px;
} */
 .fm-mobile-slider {
  width: 350px;
  height: 175px;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.fm-social{
  font-size: 16px;
  font-family: var(--font-secondary);
}
/* MARKER */
/* Default marker: small red circle */
.custom-marker svg {
  width: 42px;
  height: 42px;
  transition: all 0.3s ease;
}

/* .custom-marker circle {
  fill: red;
  stroke: white;
  stroke-width: 2;
} */

/* Hover effect: scale up and add shadow */
.custom-marker:hover svg {
  transform: scale(1.2);
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}



