:root {
  --color-primary: #000000;
  --icon: #252122;
  --color-secondary: #a41c21;
  --color-muted: #3a3a3a;
  --color-border: #a41c215e;
  --color-background: #eeeeee;
  --border-color: #d9d9d9;
  --text-primary: #6d6b54;
  --text-link: #744c27;
  --font-heading: 'Roboto Slab', sans-serif;
  --font-secondary: 'Avenir LT Roman', sans-serif;
  --fm-header-outer-height: 100px;
  --fm-header-inner-height: 70px;
  --fm-header-height-difference: calc(
    var(--fm-header-outer-height) - var(--fm-header-inner-height)
  );
    
}
/* FONTS */
@font-face {
font-family: 'Roboto Slab';
src: url('assets/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
font-weight: 100 900;
font-style: normal;
}

@font-face {
font-family: 'Avenir LT Roman';
src: url('assets/fonts/avenirlt_roman.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
.roboto-variable {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wght" 400, "wdth" 100;
}

.merriweather-variable {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
h1 {
  font-family: var(--font-heading);
  font-size: 50px !important;
  line-height: 1.2em;
}
h2 {
  font-family: var(--font-heading);
  font-size: 31px !important;
  font-weight: 700!important;
  color: var(--color-primary);
  line-height: 1.2em;
}

h3 {
  font-family: var(--font-secondary);
  font-size: 18px;
  font-weight: bold;
}

p {
  font-family: var(--font-secondary) !important;
  font-size: 18px;
}

a {
  color: var(--text-link);
}

/* SPLIDER */

.thumbnail-slider .splide__slide {
opacity: 0.5;
transform: scale(0.75);
transition: all 0.3s ease;

}

.thumbnail-slider .splide__slide.is-active {
opacity: 1;
transform: scale(1.2);
}
/* END SPILDER */
/* BORDER */
.fm-border-l{
  border-left: 1px solid var(--color-border);
}
hr.solid{
border-top: 1px solid var(--border-color);
width: 96%;
margin: 0 auto;
}
hr.solid-thick{
border-top: 6px solid var(--color-secondary);
}
hr.solid-thin{
border-top: 2px solid var(--color-secondary);
}
.fm-border{
border-color: var(--color-border);
width: 20vw;
}
.fm-map-wrapper{
position: sticky;
top: 90px;
max-height: 100vh;
transition: top 0.3s ease;
}
/* BUTTON */
button.my-auto:hover{
color: var(--color-secondary);
}

/* END BUTTON */
/* SPLIDER POST CAROUSEL */
.splide__slide img{
  min-height: 75px;
max-height: 75px;
max-width: 75px;
height: auto;
display: block;
margin: 0 auto;
transition: transform 0.3s ease;
}
.fm-post-carousel{
  max-width: 230px;
  border-right:1px solid var(--color-border);
}
/* SPLIDE SCROLL BAR */
.splide-posts-carousel .splide__track {
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-right: 20px;
}
.splide-posts-carousel .splide__track::-webkit-scrollbar {
height: 6px;
}

.splide-posts-carousel .splide__track::-webkit-scrollbar-track {
background: var(--border-color);
padding-right: 20px;

}

.splide-posts-carousel .splide__track::-webkit-scrollbar-thumb {
background-color: #000000;
min-width: 20px;
padding-right: 20px;

}
.fm-post-carousel:hover img {
  opacity: 0.6;
}
.fm-post-carousel:hover p{
  text-decoration: underline;
  text-decoration-color:var(--color-border) ;
}
/* HEADER */
.fm-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 90;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.fm-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  transition: padding 0.3s ease;
}

.fm-logo img {
  height: 100px;
  transition: height 0.3s ease;
}

.fm-header.shrink .fm-logo {
  padding: 10px 0;
}

.fm-header.shrink .fm-logo img {
  height: 65px;
}
.solid-bottom{
  border-bottom: 1px solid var(--color-secondary);
  width: 90rem;
  margin: 0 auto;
}
.fm-header.shrink .solid-bottom {
  width: 100vw;
}
/* END HEADER */

/* TABLET */
@media (max-width: 1024px) {

}
/* MOBILE */
@media (max-width: 768px) {
  /* FONTS */

  /* Header */
  .fm-logo img{
    max-height: 43px;
  }
  .fm-logo{
    padding: 6px;
  }
  .fm-header.shrink .fm-logo {
    padding: 6px 0;
  }
  .mobile-tab{
    font-family: var(--font-secondary);
    font-size: 12px;
  }
  .main-slider {
    min-height: 200px;
  }
}

.main-slider .splide__slide img {
  width: 100%;
  object-fit: contain;
}
article {
  scroll-margin-top: 90px;
}
